@import url(http://fonts.googleapis.com/css?family=Raleway);
.container{
  background-color: #ebebeb;
  width: 100%;
  height: 610px;
  margin:35px auto;
  font-family: 'Raleway', sans-serif;
  }

.main{
  background-color: white;
  width: 300px;
  height: 40%;
  padding: 10px 50px 25px;
  margin-top:50px;
  position:absolute;
  right:50%;
  transform: translate(50%);
}

input[type=text],input[type=password]{
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
  border: 2px solid #ccc;
  color: #4f4f4f;
  font-size: 16px;
}
input[type=text]:focus {
  outline: none;
  border-color: #D2EDCA;
    }
    input[type=password]:focus {
      outline: none;
      border-color: #D2EDCA;
    }
label{
  color: #464646;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  font-weight: bold;
  }
a{
  color: #464646;
  font-size: 10px;
  font-weight: bold;
  display:flex;
  position: absolute;
  top:58%;
  left:276px;
}
input[type=button]{
  font-size: 14px;
  background: #333;
  border: 1px solid #333;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  padding: 10px 0;
  outline:none;
  position: absolute;
  top:76%;
}
input[type=button]:hover{
  background: #333;
}
h1{
  font-size: 20px;
}
/* .password + .glyphicon {
  cursor: pointer;
  pointer-events: all;
} */