.container {
  width:1000px;
  height:300px;
  display: flex;
  flex-direction: row;
  background:#FFD62A;
  align-items: center;
  justify-content: space-between;
}
.item {
  height: 100px;
  width: 100px;
  background:#B02AFF;
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
  padding-inline-end: 0;
}