body {
  margin: 0;
  padding: 0;
  background-color: #2F3060;
}

#buttons {
  margin: 200px auto;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  color: #F6F7FC;
  width: 200px;
  height: 70px;
  margin-top: 60px;
  font-size: 20px;
  border-radius: 5px;
  border-color: transparent;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(90%);
}

.blue {
  background-color: #3F5D9C;
  box-shadow: 0 5px 0 #26396D,
              0 -2px 0 #5577BF;
}

.green {
  background-color: #1AAA57;
  box-shadow: 0 5px 0 #166A40,
              0 -2px 0 #55D28B;
}

.red {
  background-color: #D13F2F;
  box-shadow: 0 5px 0 #862B2F,
              0 -2px 0 #DC6453;
}

.light {
  background-color: #01AEED;
  box-shadow: 0 5px 0 #0C6AA0,
              0 -2px 0 #1ABFF5;
}

.black {
  background-color: #262729;
  box-shadow: 0 5px 0 #1E1F2E,
              0 -2px 0 #333535;
}

.white {
  background-color: #F6F7FC;
  box-shadow: 0 5px 0 #999FB3,
              0 -2px 0 #FEFDFF;
  color:black;
}
